@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @font-face {
    font-family: "HeveticaNeue Medium";
    src: url("/src/assets/font/helveticaneue/HeveticaNeue Medium.ttf")
      format("ttf");
  }
  @font-face {
    font-family: "HeveticaNeue Light";
    src: url("/src/assets/font/helveticaneue/HeveticaNeue Light.ttf")
      format("ttf");
  }
  @font-face {
    font-family: "HeveticaNeue";
    src: url("/src/assets/font/helveticaneue/HeveticaNeue.ttf") format("ttf");
  }
} */

body {
  margin: 0;
  font-family: url("./assets/font/helveticaneue/HelveticaNeue.ttf"), Helvetica,
    Arial, sans-serif;
  background: #edf6ff 0% 0% no-repeat padding-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.custom-scrollbar::-webkit-scrollbar {
  display: block;
  margin-left: px;
  width: 12px;
  background-color: #f5f5f5;
} */
